* {
    box-sizing: border-box;
}

body{
    height:100vh;
    width:100vw;
margin:0;

}

.main{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.header {
display:flex;
justify-content:space-between;
align-items:center;
width: 100vw;
height: 10vh;

flex-direction: column;
background-color: hotpink;
}

.headerEffect{
    display:flex;
 
    align-items:center;
    width: 100vw;
}

.sphere{
    width: 50px;
    height: 50px;
    background-color: hotpink;
    border-radius: 50%; 
    position: relative;
    top: 19px;
    z-index: 1;
    transition: width 2s, height 1s;
    margin:-3.5px
}
.mainContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100vw;
    height:80vh;
    background-color: black;
}

.sidebar{
    width: 20vw;
    height: 80vh;
    
}

.content{
    width: 80vw;
    height: 80vh;
   
}

.footer{
    width: 100vw;
    height: 10vh;
    border: 2px solid black;
}